body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

/* p/ o conteudo cobrir a tela toda e empurrar o footer */
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}


main {
  flex: 1;
}

/* Navbar */
.navbar-brand {
  font-weight: bold;
}

.nav-link {
  margin-left: 10px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #d4f5d4 !important;
}

/* img dos produtos interativas */
.product-img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.product-img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* rodapé  fixo no final */
footer {
  background-color: #212529;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin-top: auto;
  font-size: 0.9rem;
}
